@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(230, 250, 255);
}

#wrapper {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-column-gap: 1em;*/
    grid-row-gap: 1em;
    margin: 3em auto 0 auto;
    text-align: left;
    background-color: white;
    filter: drop-shadow(0 0.6em 1em rgba(20, 212, 255, 0.3));
    /*border: 2px solid #333;*/
    border-radius: 18px;
    overflow: hidden;
    box-sizing: border-box;
}

#toolbar {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 60px;
    /*background-color: #292576;*/
    /*background-color: rgb(20, 212, 255, 0.3);*/
    /*filter: drop-shadow(0 0.5em 0.4em rgba(20, 212, 255, 0.3));*/
    box-shadow: 0 0.4em 1em rgba(20, 212, 255, 0.3);
    box-sizing: border-box;
    padding: 0.7em 1.4em;
}

#input, #fcked {
    box-sizing: border-box;
    height: 75vh;
    padding: 0.5em 1em;
    overflow-y: auto;
    margin: 0 1em;
    background-color: white;
}

#input {
    padding: 1em;
    border: 0;
    margin-right: 0;
    resize: none;
}

#fcked h1, #fcked h2, #fcked h3, #fcked h4, #fcked h5, #fcked h6, #fcked b {
    font-weight: normal;
}

#fcked i {
    font-style: normal;
}

#toolbar button {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 0.4em;
    border: 0;
    display: inline-flex;
    cursor: pointer;
    margin-right: 1.5em;
    border-radius: 10px;
    background-color: transparent;
    /*background-color: rgb(20, 212, 255);*/
    /*box-shadow: 0 0.2em 0.5em rgba(20, 212, 255, 0.3);*/
}

#toolbar button#menu {
    margin-right: 1em;
}

button img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    filter: brightness(0) saturate(100%) invert(20%);
    display: inline;
}

#toolbar button:hover {
    filter: drop-shadow(0 0 0.2em rgba(20, 212, 255, 0.9));
}

#title {
    display: inline-flex;
    margin: 0;
    vertical-align: top;
    padding-top: 0.2em;
    font-size: 1.6em;
    font-weight: normal;
    color: #333333;
}

#right_buttons {
    float: right;
    display: inline-flex;
}

#footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 0.5em;
    font-size: 12px;
}